<?xml version="1.0" encoding="ISO-8859-15"?>

<launch>
 
 
 <!-- Laser scan based odometry -->
  <arg name="publish_covariance" default="true"/>
  <group if="$(arg publish_covariance)">
    <param name="laser_scan_matcher_node/do_compute_covariance" value="1"/>
    <param name="laser_scan_matcher_node/publish_pose_with_covariance" value="true"/>
    <param name="laser_scan_matcher_node/publish_pose_with_covariance_stamped" value="true"/>
  </group>
  <node pkg="laser_scan_matcher" type="laser_scan_matcher_node"
    name="laser_scan_matcher_node" output="screen">
    <param name="max_iterations" value="20"/>
    <param name="fixed_frame" value="odom"/>
    <param name="publish_tf" value="true"/>
    <remap from="pose_with_covariance_stamped" to="odometry/laser_scan_match"/>
  </node>

</launch>
